@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Noto+Sans+JP:wght@100..900&family=Rammetto+One&display=swap');

*{
  font-family: "Noto Sans JP", sans-serif;
}

body{
  text-align: center;
}

.logo img{
  width: 300px;
  height: 300px;
}

.shopName{
  font-size: 25px;
  font-weight: 800;
}

.uriage{
  display: flex;
  flex-direction: column;
}

.uriage span:first-child{
  font-size: 18px;
}

.uriage .uriage-inner{
  display: flex;
  align-items: baseline;
  gap: 8px;
  justify-content: center;
}

.uriage .uriage-inner span:nth-child(1){
  font-size: 100px;
  color: rgb(121, 43, 255);
  font-family: "Rammetto One", sans-serif;
}

.uriage .uriage-inner span:nth-child(2){
  font-size: 35px;
  color: rgb(121, 43, 255);
  font-family: "Mochiy Pop P One", sans-serif;
}

.share {
  color: #fff;
  background-color: #eb6100;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 3rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #212529;
  border-radius: 0.5rem;
  display: block;
}
.share:hover,
a.share:hover {
  color: #fff;
  background: #f56500;
}

.links{
  display: block;
  margin-top: 20px;
}

.links ul{
  padding: 0;
  list-style: none;
}